Repository ITISFoundation/jupyter-medimproc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: jupyter-medimproc-build, jupyter-medimproc-test, runner-medimproc-build, runner-medimproc-test, runner-medimproc-slim-build, runner-medimproc-slim-test

Path conditions:
  jupyter-medimproc-build: any of: services/jupyter/**/*, common/**/*, .gitlab-ci.yml
  jupyter-medimproc-test: any of: services/jupyter/**/*, common/**/*, .gitlab-ci.yml
  runner-medimproc-build: any of: services/runner/**/*, common/**/*, .gitlab-ci.yml
  runner-medimproc-test: any of: services/runner/**/*, common/**/*, .gitlab-ci.yml
  runner-medimproc-slim-build: any of: services/runner-slim/**/*, common/**/*, .gitlab-ci.yml
  runner-medimproc-slim-test: any of: services/runner-slim/**/*, common/**/*, .gitlab-ci.yml

[CHORE] cleanup
  CHANGES.md
  MIGRATION_v2.md
  Makefile
  QUICKSTART.md
  README.md
  README_v2.md
Due: none

[CI] replace CI by Andrei's
  .gitlab-ci.yml
  Makefile
Due: jupyter-medimproc-build, jupyter-medimproc-test, runner-medimproc-build, runner-medimproc-test, runner-medimproc-slim-build, runner-medimproc-slim-test

[CI] include metadata for other services
  .osparc/jupyter-freesurfer/metadata.yml
  .osparc/jupyter-fsl-synb0/metadata.yml
  .osparc/osparc-freesurfer-min/metadata.yml
  .osparc/osparc-freesurfer/metadata.yml
  .osparc/osparc-fsl-synb0-min/metadata.yml
  .osparc/osparc-fsl-synb0/metadata.yml
  .osparc/runner-medimproc-slim/docker-compose.overwrite.yml
  .osparc/runner-medimproc-slim/metadata.yml
  .osparc/runner-medimproc/docker-compose.overwrite.yml
  .osparc/runner-medimproc/metadata.yml
Due: none

[FEAT] use Freesurfer docker image instead of download
  common/scripts/install_freesurfer.sh
  services/jupyter/Dockerfile
  services/runner-slim/Dockerfile
  services/runner/Dockerfile
Due: jupyter-medimproc-build, jupyter-medimproc-test, runner-medimproc-build, runner-medimproc-test, runner-medimproc-slim-build, runner-medimproc-slim-test

[FEAT] upgrade image version to 1.3.1
  .bumpversion.cfg
  .osparc/jupyter-medimproc/metadata.yml
  .osparc/runner-medimproc-slim/metadata.yml
  .osparc/runner-medimproc/metadata.yml
  Makefile
  docker-compose-local.yml
Due: none

[FEAT] restructuring; made more modular & reuse layers
  Makefile
  README.md
  common/entrypoint.sh
  common/scripts/fix_permissions.sh
  common/scripts/install_art.sh
  common/scripts/install_freesurfer.sh
  common/scripts/install_mrtrix3.sh
  common/scripts/install_system_deps.sh
  common/scripts/setup_freesurfer_license.sh
  common/scripts/setup_synb0_pipeline.sh
  services/jupyter/Dockerfile
  services/runner-slim/Dockerfile
  services/runner/Dockerfile
  validate_structure.sh
Due: jupyter-medimproc-build, jupyter-medimproc-test, runner-medimproc-build, runner-medimproc-test, runner-medimproc-slim-build, runner-medimproc-slim-test

[FEAT] modularized installation into base Dockerfile
  Makefile
  common/Dockerfile.base
  services/jupyter/Dockerfile
  services/runner-slim/Dockerfile
  services/runner/Dockerfile
Due: jupyter-medimproc-build, jupyter-medimproc-test, runner-medimproc-build, runner-medimproc-test, runner-medimproc-slim-build, runner-medimproc-slim-test

[FEAT] fixed image tags
  .osparc/common/docker-compose.overwrite.yml
  .osparc/jupyter-medimproc/docker-compose.overwrite.yml
  .osparc/runner-medimproc-slim/docker-compose.overwrite.yml
  .osparc/runner-medimproc/docker-compose.overwrite.yml
  Makefile
  common/Dockerfile.base
  common/scripts/install_fsl.sh
  services/jupyter/Dockerfile
  services/runner-slim/Dockerfile
  services/runner/Dockerfile
Due: jupyter-medimproc-build, jupyter-medimproc-test, runner-medimproc-build, runner-medimproc-test, runner-medimproc-slim-build, runner-medimproc-slim-test

[FIX] paths fixed; removed permissions change
  services/jupyter/Dockerfile
  services/runner-slim/Dockerfile
  services/runner/Dockerfile
Due: jupyter-medimproc-build, jupyter-medimproc-test, runner-medimproc-build, runner-medimproc-test, runner-medimproc-slim-build, runner-medimproc-slim-test

[FEAT] add missing dependencies
  services/jupyter/Dockerfile
  services/runner-slim/Dockerfile
  services/runner/Dockerfile
Due: jupyter-medimproc-build, jupyter-medimproc-test, runner-medimproc-build, runner-medimproc-test, runner-medimproc-slim-build, runner-medimproc-slim-test

[FIX] fix MNI tools not on PATH - Matthew pipeline running!
  services/jupyter/Dockerfile
  services/runner-slim/Dockerfile
  services/runner/Dockerfile
Due: jupyter-medimproc-build, jupyter-medimproc-test, runner-medimproc-build, runner-medimproc-test, runner-medimproc-slim-build, runner-medimproc-slim-test

Fix CI gitlab
  .bumpversion.cfg
  .osparc/common/docker-compose.overwrite.yml
  .osparc/common/metadata.yml
  .osparc/common/runtime.yml
  .osparc/jupyter-medimproc/docker-compose.overwrite.yml
  .osparc/jupyter-medimproc/metadata.yml
  .osparc/runner-medimproc-slim/docker-compose.overwrite.yml
  .osparc/runner-medimproc-slim/metadata.yml
  .osparc/runner-medimproc/docker-compose.overwrite.yml
  .osparc/runner-medimproc/metadata.yml
  Makefile
  README.md
  docker-compose-local.yml
  services/jupyter/Dockerfile
  services/runner-slim/Dockerfile
  services/runner/Dockerfile
Due: jupyter-medimproc-build, jupyter-medimproc-test, runner-medimproc-build, runner-medimproc-test, runner-medimproc-slim-build, runner-medimproc-slim-test

[FEAT] further cleanup
  .osparc/common/docker-compose.overwrite.yml
  .osparc/jupyter-medimproc/metadata.yml
  common/Dockerfile.base
  common/scripts/fix_permissions.sh
  common/scripts/install_art.sh
  common/scripts/install_mrtrix3.sh
  common/scripts/install_runtime_deps.sh
  common/scripts/install_system_deps.sh
  common/scripts/setup_synb0_pipeline.sh
  services/jupyter/Dockerfile
  services/runner-slim/Dockerfile
  services/runner/Dockerfile
Due: jupyter-medimproc-build, jupyter-medimproc-test, runner-medimproc-build, runner-medimproc-test, runner-medimproc-slim-build, runner-medimproc-slim-test

[FEAT] update to 1.3.3
  .bumpversion.cfg
  .osparc/runner-medimproc-slim/metadata.yml
  .osparc/runner-medimproc/metadata.yml
  Makefile
  README.md
  docker-compose-local.yml
Due: none

[FIX] fixed missing version bump
  .osparc/common/metadata.yml
  .osparc/jupyter-medimproc/metadata.yml
Due: none

[FIX] prune osparc metadata
  .osparc/jupyter-medimproc/docker-compose.overwrite.yml
  .osparc/runner-medimproc-slim/docker-compose.overwrite.yml
  .osparc/runner-medimproc-slim/runtime.yml
  .osparc/runner-medimproc/docker-compose.overwrite.yml
  .osparc/runner-medimproc/runtime.yml
Due: none

[FIX] fix version passing
  .osparc/jupyter-medimproc/docker-compose.overwrite.yml
  .osparc/runner-medimproc-slim/docker-compose.overwrite.yml
  .osparc/runner-medimproc/docker-compose.overwrite.yml
  Makefile
  services/jupyter/Dockerfile
  services/runner-slim/Dockerfile
  services/runner/Dockerfile
Due: jupyter-medimproc-build, jupyter-medimproc-test, runner-medimproc-build, runner-medimproc-test, runner-medimproc-slim-build, runner-medimproc-slim-test

[FEAT] made slim version even smaller
  services/runner-slim/Dockerfile
Due: runner-medimproc-slim-build, runner-medimproc-slim-test

[CHORE] remove dev scripts
  scripts/analyze_disk_usage.sh
  scripts/build_and_compare.sh
  scripts/validate_optimized_install.sh
  validate_structure.sh
Due: none

[FEAT] removed version parameter
  .bumpversion.cfg
  .osparc/common/docker-compose.overwrite.yml
  .osparc/jupyter-medimproc/docker-compose.overwrite.yml
  .osparc/runner-medimproc-slim/docker-compose.overwrite.yml
  .osparc/runner-medimproc/docker-compose.overwrite.yml
  services/jupyter/Dockerfile
  services/runner-slim/Dockerfile
  services/runner/Dockerfile
Due: jupyter-medimproc-build, jupyter-medimproc-test, runner-medimproc-build, runner-medimproc-test, runner-medimproc-slim-build, runner-medimproc-slim-test

v1.3.4
  .bumpversion.cfg
  .osparc/jupyter-medimproc/metadata.yml
  .osparc/runner-medimproc-slim/metadata.yml
  .osparc/runner-medimproc/metadata.yml
  docker-compose-local.yml
Due: none

[FIX] keep "common" image version as 0.0.0 always
  .osparc/common/metadata.yml
Due: none

[FIX] start docker-compose with the local-compose config file -- mounting inputs and outputs
  Makefile
Due: none

Multiple image builds
  .bumpversion.cfg
  .github/CODEOWNERS
  .github/workflows/check-image.yml
  .gitignore
  .gitlab-ci.yml
  .osparc/common/docker-compose.overwrite.yml
  .osparc/common/metadata.yml
  .osparc/common/runtime.yml
  .osparc/runner-medimproc-slim/docker-compose.overwrite.yml
  .osparc/runner-medimproc-slim/metadata.yml
  .osparc/runner-medimproc-slim/runtime.yml
  .osparc/runner-medimproc/docker-compose.overwrite.yml
  .osparc/runner-medimproc/metadata.yml
  .osparc/runner-medimproc/runtime.yml
  Dockerfile
  Makefile
  MultiStage_Dockerfile
  README.ipynb
  README.md
  common/Dockerfile.base
  common/entrypoint.sh
  common/scripts/install_runtime_deps.sh
  common/scripts/setup_freesurfer_license.sh
  common/scripts/setup_synb0_pipeline.sh
  docker-compose-local.yml
  pipeline_synb0_disco.sh
  requirements.in
  services/jupyter/Dockerfile
  services/runner-slim/Dockerfile
  services/runner/Dockerfile
  validation/inputs/.gitkeep
  validation/outputs/.gitkeep
  validation/workspace/.gitkeep
Due: jupyter-medimproc-build, jupyter-medimproc-test, runner-medimproc-build, runner-medimproc-test, runner-medimproc-slim-build, runner-medimproc-slim-test

Including Spinal Cord Toolbox v7.2
  .bumpversion.cfg
  .gitmodules
  .osparc/jupyter-medimproc/metadata.yml
  .osparc/runner-medimproc-slim/metadata.yml
  .osparc/runner-medimproc/metadata.yml
  Makefile
  README.ipynb
  README.md
  common/Dockerfile.base
  docker-compose-local.yml
  services/jupyter/Dockerfile
  services/runner/Dockerfile
Due: jupyter-medimproc-build, jupyter-medimproc-test, runner-medimproc-build, runner-medimproc-test, runner-medimproc-slim-build, runner-medimproc-slim-test

[CI] fix CI tags
  .gitlab-ci.yml
Due: jupyter-medimproc-build, jupyter-medimproc-test, runner-medimproc-build, runner-medimproc-test, runner-medimproc-slim-build, runner-medimproc-slim-test

[CHORE] fix dev email
  .osparc/common/metadata.yml
  .osparc/jupyter-medimproc/metadata.yml
  .osparc/runner-medimproc-slim/metadata.yml
  .osparc/runner-medimproc/metadata.yml
  README.md
Due: none

[ADD] revert entrypoint to that of osparc-python-runner-machine-learning
  common/entrypoint.sh
Due: jupyter-medimproc-build, jupyter-medimproc-test, runner-medimproc-build, runner-medimproc-test, runner-medimproc-slim-build, runner-medimproc-slim-test

[FEAT] changed routes entrypoints; separated Jupyter and Runners
  common/scripts/entrypoint_jupyter.bash
  common/scripts/entrypoint_runner.sh
  services/jupyter/Dockerfile
  services/runner-slim/Dockerfile
  services/runner/Dockerfile
Due: jupyter-medimproc-build, jupyter-medimproc-test, runner-medimproc-build, runner-medimproc-test, runner-medimproc-slim-build, runner-medimproc-slim-test

[FEAT] remove the change of permissions of full filesystem
  common/scripts/entrypoint_runner.sh
Due: jupyter-medimproc-build, jupyter-medimproc-test, runner-medimproc-build, runner-medimproc-test, runner-medimproc-slim-build, runner-medimproc-slim-test

Bump version to 1.4.1
  .bumpversion.cfg
  .osparc/jupyter-medimproc/metadata.yml
  .osparc/runner-medimproc-slim/metadata.yml
  .osparc/runner-medimproc/metadata.yml
  Makefile
  README.md
  docker-compose-local.yml
Due: none
